
C Sharp/Aulas/.vscode/launch.json
C Sharp/Aulas/.vscode/tasks.json
C Sharp/Aulas/Aula01/aula01.exe
C Sharp/Aulas/Aula02/Aula02.csproj
C Sharp/Aulas/Aula02/bin/Debug/net6.0/Aula02.deps.json
C Sharp/Aulas/Aula02/bin/Debug/net6.0/Aula02.dll
C Sharp/Aulas/Aula02/bin/Debug/net6.0/Aula02.exe
C Sharp/Aulas/Aula02/bin/Debug/net6.0/Aula02.pdb
C Sharp/Aulas/Aula02/Program.exe
C Sharp/Aulas/Aula02/bin/Debug/net6.0/Aula02.runtimeconfig.json
C Sharp/Aulas/Aula02/obj/Aula02.csproj.nuget.dgspec.json
C Sharp/Aulas/Aula02/obj/Aula02.csproj.nuget.g.props
C Sharp/Aulas/Aula02/obj/Aula02.csproj.nuget.g.targets
C Sharp/Aulas/Aula02/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
C Sharp/Aulas/Aula02/obj/Debug/net6.0/apphost.exe
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.AssemblyInfo.cs
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.AssemblyInfoInputs.cache
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.assets.cache
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.csproj.AssemblyReference.cache
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.csproj.CoreCompileInputs.cache
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.csproj.FileListAbsolute.txt
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.dll
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.GeneratedMSBuildEditorConfig.editorconfig
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.genruntimeconfig.cache
C Sharp/Aulas/Aula02/obj/Debug/net6.0/Aula02.pdb
C Sharp/Aulas/Aula02/obj/Debug/net6.0/ref/Aula02.dll
C Sharp/Aulas/Aula02/obj/Debug/net6.0/refint/Aula02.dll
C Sharp/Aulas/Aula02/obj/project.assets.json
C Sharp/Aulas/Aula02/obj/project.nuget.cache
